.form__save-button {
  background-color: #000;
  color: #fff;
  width: 358px;
  border-radius: 2px;
  border: none;
  padding: 14px 0 18px;
  margin: 18px auto 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.form__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 640px) {
  .form__save-button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
    padding-bottom: 14px;
    min-width: 238px;
    width: 100%;
  }
}
