.footer {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 0 60px;
}

@media screen and (max-width: 915px) {
  .footer {
    padding-left: 15px;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    padding: 0 19px 36px;
  }
}