.photos {
  max-width: 880px;
  padding-bottom: 66px;
  margin: 0 auto;
}

@media screen and (max-width: 915px) {
  .photos {
    padding: 0 10px 66px;
  }
}

@media screen and (max-width: 640px) {
  .photos {
    max-width: 282px;
    padding: 0 0 48px;
  }
}